In [1]:
import os
import argparse

from time import time
import pandas as pd
from sqlalchemy import create_engine

In [2]:
url_code = '1p2y79m_q9rPM48cEYwQdrk6XVCTFSyRA'
os.system(f'gdown {url_code}')

Downloading...
From (uriginal): https://drive.google.com/uc?id=1p2y79m_q9rPM48cEYwQdrk6XVCTFSyRA
From (redirected): https://drive.google.com/uc?id=1p2y79m_q9rPM48cEYwQdrk6XVCTFSyRA&confirm=t&uuid=9b2b7233-2592-498c-8ba5-9a2c942524ff
To: /home/hauct/de-zoomcamp/week_1_basics_n_setup/2_docker_sql/yellow_tripdata_2021-01.csv
100%|██████████| 126M/126M [00:00<00:00, 162MB/s]

0

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [7]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [8]:
df = next(df_iter)

In [9]:
len(df)

100000

In [10]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [11]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-01-04 14:04:31,2021-01-04 14:08:52,3,0.70,1,N,234,224,2,5.0,2.5,0.5,0.00,0.0,0.3,8.30,2.5
99996,1,2021-01-04 14:18:46,2021-01-04 14:35:45,2,3.30,1,N,234,236,1,14.5,2.5,0.5,3.55,0.0,0.3,21.35,2.5
99997,1,2021-01-04 14:42:41,2021-01-04 14:59:22,2,4.70,1,N,236,79,1,17.0,2.5,0.5,4.05,0.0,0.3,24.35,2.5
99998,2,2021-01-04 14:39:02,2021-01-04 15:09:37,2,17.95,2,N,132,148,1,52.0,0.0,0.5,5.00,0.0,0.3,60.30,2.5
99999,2,2021-01-04 14:49:36,2021-01-04 14:54:44,5,0.37,1,N,236,236,2,5.0,0.0,0.5,0.00,0.0,0.3,8.30,2.5

In [12]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [13]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

In [18]:
from time import time

In [19]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 16.199 second
inserted another chunk, took 16.468 second
inserted another chunk, took 15.576 second
inserted another chunk, took 16.555 second
inserted another chunk, took 16.935 second
inserted another chunk, took 16.828 second
inserted another chunk, took 15.195 second
inserted another chunk, took 16.082 second
inserted another chunk, took 15.837 second
inserted another chunk, took 15.499 second
inserted another chunk, took 15.782 second

C:\Users\LAP14062-local\AppData\Local\Temp\ipykernel_10200\2113580993.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 16.097 second
inserted another chunk, took 9.861 second

StopIteration:

In [36]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [38]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [42]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

In [20]:
print('hello')

hello

In [21]:
import argparse

In [25]:
parser = argparse.ArgumentParser(description='Ingest CSV data to Postgres')

# user, password, host, post
parser.add_argument('user', help='user name for postgres')
parser.add_argument('password', help='password for postgres')
parser.add_argument('host', help='host for postgres')
parser.add_argument('port', help='port for postgres')
parser.add_argument('db', help='database name for postgres')
parser.add_argument('table_name', help='name of the table where we will write the results to')
parser.add_argument('url', help='url of the csv file')

args = parser.parse_args()

usage: ipykernel_launcher.py [-h] user password host port db table_name url
ipykernel_launcher.py: error: the following arguments are required: password, host, port, db, table_name, url

SystemExit: 2

In [3]:
import argparse

# Khởi tạo trình phân tích cú pháp (parser)
parser = argparse.ArgumentParser(description='Một chương trình mẫu sử dụng argparse.')

# Thêm một đối số
parser.add_argument('-n', '--name', required=False, type=str, help='Nhập tên của bạn')

# Phân tích các đối số
args = parser.parse_args()

# Sử dụng đối số
if args.name:
    print(f'Xin chào, {args.name}!')

usage: ipykernel_launcher.py [-h] [-n NAME]
ipykernel_launcher.py: error: unrecognized arguments: -f C:\Users\LAP14062-local\AppData\Roaming\jupyter\runtime\kernel-753b519a-5cd1-4326-9ce0-1080c58875c3.json

SystemExit: 2

In [4]:
%tb

SystemExit: 2